@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    height: 99.8vh;
    background: url(./images/back-ground.jpg)  no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    color: white;
}

.quiz{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    color: white;
}
.content{
    width: 96%;
    height: 96%;
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.card{
    width: 100%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 50%;
    aspect-ratio: 1/1;
}
.card:nth-child(1){
    background-color: rgb(0, 0, 255);
    color: white;
}

.card:nth-child(2){
    background-color: rgb(255, 0, 0);
    color: white;
}

.card:nth-child(3){
    background-color: rgb(234, 255, 0);
    color: rgb(0, 0, 0);
}

.card:nth-child(4){
    background-color: rgb(1, 255, 43);
    color: rgb(0, 0, 0);
}
.progress{
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bar{
    width: 50%;
    border: none;
    height: 50%;
    border-radius: 30px;
    background-color: aliceblue;
    display: flex;
}
.user-progress{
    width: 100%;
    transition: all 0.4s ease-in-out;
    transform: scaleX(100%);
}
.user-progress:nth-child(1){
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.user-progress:nth-child(10){
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.interface-end{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.video{
    width: 40%;
    height: 50%;
}
.video video{
    object-fit:cover;
    width: 100%;
    height: 100%;
    mix-blend-mode:lighten;
}

.starting{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.starting button{
    height: 7vh;
    width: 200px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.starting-vid{
    width: 40%;
    height: 40%;
}
.starting-vid video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode:lighten;
}



@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .starting{
        width: 100%;
    }
    .starting-vid{
        width: 100%;
    }
    .starting-vid video{
        object-fit: fill;
    }
    .quiz{
        text-align: center;
        width: 100%;
    }
    .content{
        flex-direction: column;
        height: 70%;
        margin-top: 20px;
    }
    .card img{
        display: none;
    }
    .interface-end{
        width: 100%;
    }
    .interface-end h2{
        text-align: center;
        margin-bottom: 10px;
    }
    .interface-end .video{
        width: 100%;
    }
    .video video{
        width: 98%;
        height: 90%;
        object-fit: fill;
    }
    .progress{
        height: 4vh;
        justify-content: center;
    }
    .progress-bar{
        width: 90%;
    }
}


@media screen and (max-width: 980px) {
    body{
        overflow-x: hidden;
    }
    .starting{
        width: 100%;
    }
    .starting-vid{
        width: 100%;
    }
    .starting-vid video{
        object-fit: fill;
    }
    .quiz{
        text-align: center;
        width: 100%;
    }
    .content{
        flex-direction: column;
        height: 70%;
        margin-top: 20px;
    }
    .card img{
        display: none;
    }
    .interface-end{
        width: 100%;
    }
    .interface-end h2{
        text-align: center;
        margin-bottom: 10px;
    }
    .interface-end .video{
        width: 100%;
    }
    .video video{
        width: 98%;
        height: 90%;
        object-fit: fill;
    }
    .progress{
        height: 4vh;
        justify-content: center;
    }
    .progress-bar{
        width: 90%;
    }
}
@media screen and (max-width: 300px) {
    body{
        overflow-x: hidden;
    }
    .starting{
        width: 100%;
    }
    .starting-vid{
        width: 100%;
    }
    .starting-vid video{
        object-fit: fill;
    }
    .quiz{
        text-align: center;
        width: 100%;
    }
    .content{
        flex-direction: column;
        height: 70%;
        margin-top: 20px;
    }
    .card img{
        display: none;
    }
    .interface-end{
        width: 100%;
    }
    .interface-end h2{
        text-align: center;
        margin-bottom: 10px;
    }
    .interface-end .video{
        width: 100%;
    }
    .video video{
        width: 98%;
        height: 90%;
        object-fit: fill;
    }
    .progress{
        height: 4vh;
        justify-content: center;
    }
    .progress-bar{
        width: 90%;
    }
}
